@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    79deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(34, 34, 37, 1) 67%,
    rgba(0, 212, 255, 1) 100%
  );
}

.Card-style {
  font-family: "Kavoon", cursive;
  min-height: 60vh;
  min-width: 25vw;
  border-radius: 3vh;

  box-shadow: 0 0 1vh rgba(0, 180, 255, 1);
  align-items: center;
  text-align: center;
  border-radius: ;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    174deg,
    rgba(1, 0, 50, 1) 0%,
    rgba(1, 100, 150, 50) 70%,
    rgba(1, 150, 200, 100) 100%
  );
}

.Header-style {
  padding-top: 1vh;
  min-height: 10vh;
}

.Footer-style {
  text-align: right;
  padding-right: 1vh;
  font-size: calc(8px + 1vmin);
  min-height: 5vh;
}
.Content-style {
  min-height: 45vh;
}
.liststyle {
  list-style-type: none;
}
